body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
}

.display {
  margin-bottom: 1em;
}

.keys {
  display: grid;
  column-gap: 1;
  grid-template-columns: repeat(4, 1fr);
}
